<% address_id = address_type.chars.first %>
<% show_make_default = true if show_make_default.nil? %>

<div class="address_fields">
  <%= render partial: 'spree/shared/error_messages', locals: { target: address } %>

  <% ADDRESS_FIELDS.each do |field| %>
    <% if field == "country" %>
      <div class="field" id="<%= "#{address_id}country" %>">
        <%= address_form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
        <span id="<%= "#{address_id}country-selection" %>">
          <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required form-control input-sm'} %>
        </span>
      </div>
    <% elsif field == "state" && Spree::Config[:address_requires_state] %>
      <%= address_field(address_form, :state, address_id) { address_state(address_form, address.country, address_id) } %>
    <% else %>
      <% next if field == "company" && !Spree::Config[:company] %>
      <%= address_field(address_form, field.to_sym, address_id) %>
    <% end %>
  <% end %>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <div class="field" id=<%="#{address_id}altphone" %>>
      <%= address_form.label :alternative_phone, Spree.t(:alternative_phone) %><br />
      <%= address_form.phone_field :alternative_phone %>
    </div>
  <% end %>
</div>

<% if spree_current_user && show_make_default %>
  <p class="field" id="<%= "#{address_id}default_bill" %>">
    <%= check_box_tag 'default_bill', '1', address.id && spree_current_user.bill_address_id == address.id %>
    <%= label_tag 'default_bill', Spree.t(:make_default_billing_address) %>
  </p>
  <p class="field" id="<%= "#{address_id}default_ship" %>">
    <%= check_box_tag 'default_ship', '1', address.id && spree_current_user.ship_address_id == address.id %>
    <%= label_tag 'default_ship', Spree.t(:make_default_shipping_address) %>
  </p>
<% end %>
