<fieldset data-hook="admin_user_addresses" id="admin_user_edit_addresses" class="alpha twelve columns">
  <legend><%= Spree.t('addresses', :scope => 'admin.user') %></legend>

  <% unless @user_addresses.blank? %>
    <table id="user_addresses">
      <thead>
        <tr class="<%= cycle('even', 'odd') %>">
          <th><%= I18n.t(:address, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:type, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:def_bill, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:def_ship, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:order_bill, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:order_ship, scope: :address_book) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @user_addresses.each do |address| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= address %></td>
            <td class="align-center"><%#= type %></td>
            <td class="align-center"><i class="fa fa-circle<%= '-o' unless address == @user.bill_address %>"></i></td>
            <td class="align-center"><i class="fa fa-circle<%= '-o' unless address == @user.ship_address %>"></i></td>
            <td class="align-center"><i class="fa fa-circle<%= '-o' unless address == @order.bill_address %>"></i></td>
            <td class="align-center"><i class="fa fa-circle<%= '-o' unless address == @order.ship_address %>"></i></td>
            <td class="actions">
              <%= link_to_edit_url admin_user_edit_address_url(@user, address), :no_text => true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</fieldset>
