<fieldset data-hook="admin_user_addresses" id="admin_user_edit_addresses" class="alpha twelve columns">
  <div data-hook="admin_user_edit_form_header">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  </div>

  <div data-hook="admin_user_address_edit_form">
    <%= form_for [:admin, @user], as: :user, url: admin_user_edit_address_put_url(@user, @address), method: :put do |f| %>
      <div data-hook="address_wrapper" class="alpha twelve columns">
        <fieldset class="no-border-bottom">
          <legend align="center">
            <% billing = (@user_addresses.select {|type, addresses| addresses.include?(@address) }.keys.first == "Billing") %>
            <% if billing %>
              <%= Spree.t(:billing_address) %>
            <% else %>
              <%= Spree.t(:shipping_address) %>
            <% end %>
          </legend>
          <%= f.fields_for (billing ? :bill_address : :ship_address), (@address) do |ba_form| %>
            <% ba_form.object ||= Spree::Address.new(country: Spree::Country.new) %>
            <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => ba_form, :type => (billing ? "billing" : "shipping") } %>
          <% end %>
        </fieldset>
      </div>

      <div data-hook="admin_user_edit_form_button">
        <%= render :partial => 'spree/admin/shared/edit_resource_links', :locals => { :collection_url => admin_users_url } %>
      </div>
    <% end %>
  </div>
</fieldset>
