<%# TODO: Find a better structure for this code; move logic into controller and/or model where possible %>
<% @bill_address, @ship_address = get_selected_addresses %>

<div class="row">
  <% ['billing', 'shipping'].each do |address_type| %>
    <% next if address_type == 'billing' && Spree::AddressBook::Config[:disable_bill_address] %>
    <% prefix = address_type[0...4] %>
    <% address_name = "#{prefix}_address" %>
    <% addr_with_id = "#{address_name}_id" %>

    <div data-use="address_wrapper" class="columns <%= address_type == 'billing' ? 'alpha' : 'omega' %> six" data-hook="<%= address_type %>_fieldset_wrapper">
      <fieldset id="<%= address_type %>">

        <legend><%= Spree.t(address_type + "_address")%></legend>

        <% if address_type == 'shipping' && !Spree::AddressBook::Config[:disable_bill_address] %>
          <div class="field checkbox"  data-hook="use_billing">
            <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.blank? && @order.ship_address.blank?) && @order.bill_address.same_as?(@order.ship_address)) %>
            <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
          </div>
        <% end %>

        <% default_addr = instance_variable_get("@#{address_name}") %>

        <% if @addresses.present? %>
          <div class="select_address">
            <% @addresses.each_with_index do |address, idx| %>
              <div class="field radio">
                <% a = address.primary_address %>

                <%= render partial: 'spree/shared/suggested_address', locals: { address: a, checkout: true } %>

                <div id="<%= "#{address_type}_#{dom_id(a)}" %>">
                  <%= form.radio_button addr_with_id, a.id, checked: a.id == default_addr.try(:id), autocomplete: 'off' %>
                  <label for="<%= "order_#{address_name}_id_#{a.id}" %>">
                    <span class="address">
                      <%= raw(a) %>
                    </span>
                      <span class="address_edit_link"><%= link_to Spree.t(:edit), edit_address_path(a) %></span>
                  </label>
                </div>
              </div>
            <% end %>

            <div class="field radio">
              <%= form.radio_button addr_with_id, 0, checked: default_addr.try(:id).to_i == 0 %>
              <label for="order_<%= address_name %>_id_0"><%= I18n.t(:other_address, :scope => :address_book) %></label>
            </div>
          </div>
        <% end %>

        <% if default_addr.try(:id).to_i == 0 %>
          <% addr = default_addr %>
        <% end %>
        <% addr ||= Spree::Address.default(@user, prefix) %>
        <%= form.fields_for address_name, addr do |address_form| %>
          <div class="inner" data-hook=<%="#{address_type}_inner" %>>
            <%= render :partial => 'spree/addresses/form', :locals => {
              :address_form => address_form,
              :address_type => address_type,
              :show_make_default => false,
              :address => addr
            } %>
          </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>
</div>

<hr />
<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
  <div id="default_address_checkbox_wrapper">
    <%= save_default_address_check_box %>
  </div>
</div>
