<% @parent_collection = (@order.class.name.split('::').last.humanize if @order) || (@user.class.name.split('::').last.humanize if @user) %>
<% if @order %>
  <%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Addresses' } %>
<% end %>

<% content_for :page_title do %>
  <% unless @order %>
    <%= link_to "#{Spree.t(:editing_user)} #{@user.email}", edit_admin_user_url(@user) %>
  <% end %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:new_address), new_admin_address_path(user_id: @user.try(:id), order_id: @order.try(:id)), :icon => 'plus' %></li>
  <li><%= button_link_to "Back to #{@parent_collection}", redirect_back_admin_addresses_url(user_id: @user.try(:id), order_id: @order.try(:id)), :icon => 'arrow-left' %></li>
<% end %>

<fieldset data-hook="admin_addresses" id="admin_user_edit_addresses" class="alpha twelve columns">
  <legend><%= Spree.t('addresses', :scope => 'admin.user') %></legend>

  <% if @addresses.blank? %>
    <div class="alpha twelve columns no-objects-found">
      No Addresses found,
      <%= link_to "Add one", new_admin_address_path(user_id: @user.try(:id), order_id: @order.try(:id)) %>!
    </div>
  <% else %>
    <table id="addresses">
      <thead>
        <tr class="<%= cycle('even', 'odd') %>">
          <th><%= I18n.t(:address, scope: :address_book) %></th>
          <% if @user %>
            <th class="align-center"><%= I18n.t(:def_bill, scope: :address_book) %></th>
            <th class="align-center"><%= I18n.t(:def_ship, scope: :address_book) %></th>
          <% end %>
          <% if @order %>
            <th class="align-center"><%= I18n.t(:order_bill, scope: :address_book) %></th>
            <th class="align-center"><%= I18n.t(:order_ship, scope: :address_book) %></th>
          <% end %>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
      <%= form_for @user || @order, url: update_addresses_admin_addresses_path(user_id: @user.try(:id), order_id: @order.try(:id)), method: :put do |f| %>
        <% @addresses.each do |address| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= address %></td>
            <% if @user %>
              <td class="align-center">
                <%= radio_button_tag 'user[bill_address_id]', address.id, address == @user.bill_address %>
              </td>
              <td class="align-center">
                <%= radio_button_tag 'user[ship_address_id]', address.id, address == @user.ship_address %>
              </td>
            <% end %>
            <% if @order %>
              <td class="align-center">
                <%= radio_button_tag 'order[bill_address_id]', address.id, compare_addresses(address, @order.bill_address) %>
              </td>
              <td class="align-center">
                <%= radio_button_tag 'order[ship_address_id]', address.id, compare_addresses(address, @order.ship_address) %>
              </td>
            <% end %>
            <td class="actions">
              <%= link_to_edit_url edit_admin_address_url(address, user_id: @user.try(:id), order_id: @order.try(:id)), :no_text => true %>
            </td>
          </tr>
        <% end %>
        <div class="row">
          <div class="alpha twelve columns">
            <%= f.submit 'Update Default Addresses' %>
          </div>
        </div>
      <% end %>
      </tbody>
    </table>
  <% end %>
</fieldset>
