<h3><%= I18n.t(:shipping_addresses, :scope => :address_book) %></h3>
<% if spree_current_user.addresses.present? %>
<table id="addresses">
  <tbody>
    <% Spree::AddressBookList.new(spree_current_user).each do |address| %>
      <% a = address.primary_address %>
      <tr class="address <%= cycle('even', 'odd') %>" data-address="<%= a.id %>">
        <td><%= a %></td>
        <td>
          <% if spree_current_user.can_update_addresses? %>
            <%= link_to Spree.t(:edit), edit_address_path(a), id: "edit_address_#{a.id}" %>&nbsp;
            <%= link_to Spree.t(:remove), address_path(a), { :method => :delete, id: "remove_address_#{a.id}", data: {:confirm => Spree.t(:are_you_sure)} } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div id="users-address-list-empty">
  <%= I18n.t(:no_shipping_addresses_on_file, :scope => :address_book) %>
</div>
<% end %>
<div id="new_address_link">
  <%= link_to I18n.t(:add_new_shipping_address, :scope => :address_book), :controller => :addresses, :action => :new %>
</div>
